# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# C# and .NET specific settings
[*.{cs,csx,vb,vbx}]
indent_style = space
indent_size = 4
tab_width = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent

# JS/TS specific settings
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2
tab_width = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
